.main-header {
  background: url(../images/BkgImage.jpg) center no-repeat;
  background-size: cover;
  padding: 2rem 0;
  position: relative;
  .site-title {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    small {
      font-size: 3rem;
      font-style: normal;
      color: $white;
      font-weight: 600;
      @include break-smaller($md-break-point) {
        font-size: 1.3rem;
      }
    }
  }
  .callout, .contact-us {
    font-size: 1.2rem;
    color: $white;
    font-weight: 500;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
    font-weight: 600;
  }
  @include break-larger($md-break-point) {
    padding: 12.5rem 0;
    .callout, .contact-us {
      position: absolute;
      top: 1rem;
    }
    .callout {
      left: 1rem;
    }
    .contact-us {
      right: 1rem;
    }
  }
}
