@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,700,700i');

html,body {
  font-size: 16px;
  font-family: 'Titillium Web', serif;
  color: $black;
}

a {
  text-decoration: none;
  color: $white;
  &:after {
    content: ' (link)';
  }
}

h1,h2,h3,h4,h5 {
  font-weight: 700;
}

h1 {
  font-size: 3.75rem;
  font-style: italic;
  color: $primary-color;
  line-height: 5.75rem;
  small {
    font-size: 3rem;
    font-style: normal;
    color: $white;
    font-weight: 600;
    line-height: 3.625rem;
  }
}

h2 {
  font-size: 3rem;
  color: $primary-color;
  font-style: italic;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}


