$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;


$content-wrapper-width: 1170px;
$article-max-width: 300px;

$img: "../img";
$js: "../js";
$font: "../font";
